/* table of contents
1. global
2. common
2. 




*/

/* =============
 global css 
 ============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-weight: 400;
  line-height: 1.5em;
}

section,
header {
  margin-bottom: 4rem;
}

/* =============
 common css 
 ============*/

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex_container {
  display: flex;
  justify-content: space-between;
}

.btn {
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #12b3fb, #048af7);
  display: inline-block;
  width: 12rem;
  padding: 1.2rem;
  border-radius: 2rem;
  font-size: 1.8rem;
}

.btn:hover {
  color: black;
  background: white;
  border: 0.1rem solid #058ef7;
}

.responsive-card {
  flex-basis: 30%;
  width: 30rem;
  box-shadow: 0px 0px 10px 0px #0000004d;
  margin: 2rem 0rem;
  border-radius: 2rem;
  padding: 2rem;
}

.responsive-card h4 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.responsive-card p {
  font-size: 1.5rem;
}

.responsive-card span {
  margin-top: 2rem;
  color: #000000d0;
  float: right;
}

.responsive-card img {
  height: 28rem;
  border-radius: 2rem;
}

/* =============
 header area css start
 ============*/

.nav_area img {
  height: 5rem;
  width: 25rem;
  display: inline-block;
}

#nav {
  background: linear-gradient(to right, #12b3fb, #048af7);
}

#nav ul {
  list-style: none;
}

#nav li {
  display: inline-block;
}

#nav li a {
  height: 100%;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding: 2rem 3rem;
  margin-left: -0.1rem;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

#nav li a:hover {
  background: black;
}

.hdr_txt_wrp {
  flex-basis: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hdr_txt_wrp h2 {
  font-size: 4rem;
}

.hdr_txt_wrp h2 span {
  color: #058ef7;
}

.hdr_txt_wrp p {
  font-size: 2rem;
  margin: 2rem 0rem;
}

.hdr_img_wrp {
  flex-basis: 50%;
}

.hdr_img_wrp img {
  height: 100%;
}

/*headera are css ends*/

/* =============
 contact area css start
 ============*/
#contact {
  background: url("img/background.jpg");
  background-size: cover;
  margin: 3rem 0rem;
}

.contact_img_wrp {
  height: 40rem;
  flex-basis: 40%;
  display: flex;
  align-items: flex-end;
}

.contact_img_wrp img {
  height: 35rem;
  width: 30rem;
}

.contact_txt_wrp {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_txt_wrp h2 {
  font-size: 3rem;
}

.contact_txt_wrp p {
  font-size: 2rem;
  margin: 2rem 0rem;
}

/*contact area css end*/

/* =============
 fruit area css start
 ============*/
#fruits {
  margin: 6rem 0rem;
}

.fruits_txt_wrp {
  text-align: center;
  margin: 0 auto;
}

.fruits_txt_wrp h2 {
  font-size: 3rem;
}

.fruits_txt_wrp p {
  /* font-size: 1.8rem; */
  margin: 1.5rem 0rem;
}

/* fruit area css end */
/* =============
 social area css start
 ============*/
#customers {
  background: url("img/background.jpg");
  background-size: cover;
  padding: 3rem 0;
}

#customers h2 {
  text-align: center;
  font-size: 3.5rem;
}

/*  ********************
 social section  
************************/

.social_container {
  box-shadow: 0px 0px 10px 0px #0000004d;
  border-radius: 2rem;
}

.social {
  flex-basis: 30%;
  text-align: center;
  margin: auto 0;
}

.social h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.social p {
  font-size: 2rem;
  color: #000000af;
}

/* social are css end */

/* =============
 footer area css start
 ============*/
#footer {
  background: #000000f6;
  text-align: center;
  padding-top: 2rem;
}

#footer h2 {
  font-size: 3rem;
  color: #5d5a5afa;
  margin: 0rem 0rem 1.5rem;
}

#footer p {
  font-size: 1.8rem;
  color: #c0bdbd;
}

#footer h2 span {
  color: blue;
}

/* footer area css end */
