/* =============
 common css start
 ============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}
img{width:100%;height:auto;}

 .container{width:80%;margin:0 auto;}
 .flex_container{display:flex;justify-content:space-between;}
 .btn{text-decoration:none;color:white;background:linear-gradient(to right, #12B3FB, #048AF7);display:inline-block;width:12rem;padding:1.2rem;border-radius:2rem;font-size:1.8rem;}
/* common css end*/

/* =============
 header area css start
 ============*/
 #header{height:60rem;}
 .hdr_txt_wrp{flex-basis:47%;display:flex;flex-direction:column;justify-content:center;}
 .hdr_txt_wrp h2{font-size:4rem;}
 .hdr_txt_wrp h2 span{color:#058EF7;}
 .hdr_txt_wrp p{font-size:2rem;margin:2rem 0rem;}
 .hdr_img_wrp{flex-basis:50%;}

 /*headera are css ends*/

/* =============
 myself area css start
 ============*/
 #myself{height:40rem;background:url('img/Frame\ 57.jpg');background-size:cover;margin:3rem 0rem;}
 .myself_img_wrp{height:40rem;flex-basis:40%;display:flex;align-items:flex-end;}
 .myself_img_wrp img{height:35rem;width:30rem;}
 .myself_txt_wrp{flex-basis:60%;display:flex;flex-direction:column;justify-content:center;}
 .myself_txt_wrp h2{font-size:3rem;}
 .myself_txt_wrp p{font-size:2rem;margin:1.5rem 0rem 6rem;}
 
/*myself area css end*/

/* =============
 common css start
 ============*/
#recipies{height:62rem;margin:6rem 0rem;}
 .recipies_txt_wrp {text-align:center;margin:0 auto;width:50rem;}
 .recipies_txt_wrp h2{font-size:3rem;}
 .recipies_txt_wrp p{font-size:1.8rem;margin:1.5rem 0rem;}

 .recipie{height: 42rem;
    flex-basis: 28.5%;
    box-shadow: 0px 0px 20px 1px #0000002e;
    border-radius: 2rem;
    padding: 1.5rem;}
 .recipie_img{width:28rem;height:21rem;}
 .recipie h4{font-size:2rem;margin:2rem 0rem;}
 .recipie p{font-size:1.5rem;}

/* =============
 common css start
 ============*/

 /* =============
 common css start
 ============*/

/* =============
 common css start
 ============*/

 /* =============
 common css start
 ============*/

/* =============
 common css start
 ============*/